.motivation-section.animated.fadeIn {
    animation: fadeInMotivate 1s;
}

@keyframes fadeInMotivate {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}