.notification-bell {
    position: relative;
    padding: 0 8px !important;
    background: transparent !important;
    border: none !important;

    &:after {
        display: none;
    }
}

.notification-badge {
    position: absolute;
    top: 3px;
    right: 1px;
    font-size: 0.7rem;
    z-index: 1;
}