--CREATE DATABASE  [SMOKING2]
--USE [SMOKING2]
GO
ALTER TABLE [dbo].[UserQuitChallenge] DROP CONSTRAINT [FK__UserQuitC__Templ__2334397B]
GO
ALTER TABLE [dbo].[UserQuitChallenge] DROP CONSTRAINT [FK__UserQuitC__QuitP__24285DB4]
GO
ALTER TABLE [dbo].[UserMilestoneProgress] DROP CONSTRAINT [FK_UserMilestoneProgress_User]
GO
ALTER TABLE [dbo].[UserMilestoneProgress] DROP CONSTRAINT [FK_UserMilestoneProgress_Milestone]
GO
ALTER TABLE [dbo].[UserMembership] DROP CONSTRAINT [FK_UserMembership_User]
GO
ALTER TABLE [dbo].[UserMembership] DROP CONSTRAINT [FK_UserMembership_Package]
GO
ALTER TABLE [dbo].[UserAchievement] DROP CONSTRAINT [FK_UserAchievement_User]
GO
ALTER TABLE [dbo].[UserAchievement] DROP CONSTRAINT [FK_UserAchievement_Achievement]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[QuitProgress] DROP CONSTRAINT [FK_QuitProgress_QuitPlan]
GO
ALTER TABLE [dbo].[QuitPlanSelectedAnswers] DROP CONSTRAINT [FK_QuitPlanSelectedAnswers_QuitPlan]
GO
ALTER TABLE [dbo].[QuitPlanSelectedAnswers] DROP CONSTRAINT [FK_QuitPlanSelectedAnswers_AnswerOptions]
GO
ALTER TABLE [dbo].[QuitPlan] DROP CONSTRAINT [FK_QuitPlan_User]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_UserMembership]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [FK_Payment_Package]
GO
ALTER TABLE [dbo].[PackageMilestone] DROP CONSTRAINT [FK_PackageMilestone_Package]
GO
ALTER TABLE [dbo].[PackageMilestone] DROP CONSTRAINT [FK_PackageMilestone_Milestone]
GO
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Milestone] DROP CONSTRAINT [FK_Milestone_MilestoneGroup]
GO
ALTER TABLE [dbo].[Feedback] DROP CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[ConsultationBooking] DROP CONSTRAINT [FK_ConsultationBooking_User]
GO
ALTER TABLE [dbo].[ConsultationBooking] DROP CONSTRAINT [FK_ConsultationBooking_Coach]
GO
ALTER TABLE [dbo].[Blog] DROP CONSTRAINT [FK_Blog_User]
GO
ALTER TABLE [dbo].[AnswerOptions] DROP CONSTRAINT [FK_AnswerOptions_Questions]
GO
ALTER TABLE [dbo].[UserQuitChallenge] DROP CONSTRAINT [DF__UserQuitC__Sched__2DB1C7EE]
GO
ALTER TABLE [dbo].[UserQuitChallenge] DROP CONSTRAINT [DF__UserQuitC__IsCom__22401542]
GO
ALTER TABLE [dbo].[UserAchievement] DROP CONSTRAINT [DF__UserAchie__Award__5165187F]
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [DF__User__Registrati__46E78A0C]
GO
ALTER TABLE [dbo].[QuitProgress] DROP CONSTRAINT [DF__QuitProgr__Total__3B40CD36]
GO
ALTER TABLE [dbo].[QuitProgress] DROP CONSTRAINT [DF__QuitProgr__Total__3A4CA8FD]
GO
ALTER TABLE [dbo].[QuitProgress] DROP CONSTRAINT [DF__QuitProgr__Money__2739D489]
GO
ALTER TABLE [dbo].[QuitProgress] DROP CONSTRAINT [DF__QuitProgr__Creat__14270015]
GO
ALTER TABLE [dbo].[QuitPlan] DROP CONSTRAINT [DF__QuitPlan__Create__571DF1D5]
GO
ALTER TABLE [dbo].[QuitPlan] DROP CONSTRAINT [DF__QuitPlan__Status__5629CD9C]
GO
ALTER TABLE [dbo].[QuitChallengeTemplate] DROP CONSTRAINT [DF__QuitChall__Stage__2CBDA3B5]
GO
ALTER TABLE [dbo].[Questions] DROP CONSTRAINT [DF__Questions__IsAct__3E52440B]
GO
ALTER TABLE [dbo].[Payment] DROP CONSTRAINT [DF__Payment__Payment__7A672E12]
GO
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [DF__Notificat__Creat__5DCAEF64]
GO
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [DF__Notificat__Notif__5CD6CB2B]
GO
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [DF__Notificat__Condi__5BE2A6F2]
GO
ALTER TABLE [dbo].[Notification] DROP CONSTRAINT [DF__Notificat__Notif__5AEE82B9]
GO
ALTER TABLE [dbo].[Milestone] DROP CONSTRAINT [DF__Milestone__IsPre__607251E5]
GO
ALTER TABLE [dbo].[Feedback] DROP CONSTRAINT [DF__Feedback__Feedba__693CA210]
GO
ALTER TABLE [dbo].[ConsultationBooking] DROP CONSTRAINT [DF__Consultat__Creat__6E01572D]
GO
ALTER TABLE [dbo].[ConsultationBooking] DROP CONSTRAINT [DF__Consultat__Remin__6D0D32F4]
GO
ALTER TABLE [dbo].[Blog] DROP CONSTRAINT [DF__Blog__ReportCoun__656C112C]
GO
ALTER TABLE [dbo].[Blog] DROP CONSTRAINT [DF__Blog__Dislikes__6477ECF3]
GO
ALTER TABLE [dbo].[Blog] DROP CONSTRAINT [DF__Blog__Likes__6383C8BA]
GO
ALTER TABLE [dbo].[Blog] DROP CONSTRAINT [DF__Blog__LastModifi__628FA481]
GO
ALTER TABLE [dbo].[Blog] DROP CONSTRAINT [DF__Blog__CreatedDat__619B8048]
GO
/****** Object:  Index [UQ__User__A9D105346DBCDDCE]    Script Date: 27/06/2025 6:49:46 PM ******/
ALTER TABLE [dbo].[User] DROP CONSTRAINT [UQ__User__A9D105346DBCDDCE]
GO
/****** Object:  Index [UQ__Role__8A2B6160C28CA606]    Script Date: 27/06/2025 6:49:46 PM ******/
ALTER TABLE [dbo].[Role] DROP CONSTRAINT [UQ__Role__8A2B6160C28CA606]
GO
/****** Object:  Index [UQ_QuitProgress_PlanDate]    Script Date: 27/06/2025 6:49:46 PM ******/
ALTER TABLE [dbo].[QuitProgress] DROP CONSTRAINT [UQ_QuitProgress_PlanDate]
GO
/****** Object:  Index [IX_Payment_UserID]    Script Date: 27/06/2025 6:49:46 PM ******/
DROP INDEX [IX_Payment_UserID] ON [dbo].[Payment]
GO
/****** Object:  Index [IX_Payment_PackageID]    Script Date: 27/06/2025 6:49:46 PM ******/
DROP INDEX [IX_Payment_PackageID] ON [dbo].[Payment]
GO
/****** Object:  Table [dbo].[UserQuitChallenge]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserQuitChallenge]') AND type in (N'U'))
DROP TABLE [dbo].[UserQuitChallenge]
GO
/****** Object:  Table [dbo].[UserMilestoneProgress]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserMilestoneProgress]') AND type in (N'U'))
DROP TABLE [dbo].[UserMilestoneProgress]
GO
/****** Object:  Table [dbo].[UserMembership]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserMembership]') AND type in (N'U'))
DROP TABLE [dbo].[UserMembership]
GO
/****** Object:  Table [dbo].[UserAchievement]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserAchievement]') AND type in (N'U'))
DROP TABLE [dbo].[UserAchievement]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User]') AND type in (N'U'))
DROP TABLE [dbo].[User]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[QuitProgress]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuitProgress]') AND type in (N'U'))
DROP TABLE [dbo].[QuitProgress]
GO
/****** Object:  Table [dbo].[QuitPlanSelectedAnswers]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuitPlanSelectedAnswers]') AND type in (N'U'))
DROP TABLE [dbo].[QuitPlanSelectedAnswers]
GO
/****** Object:  Table [dbo].[QuitPlan]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuitPlan]') AND type in (N'U'))
DROP TABLE [dbo].[QuitPlan]
GO
/****** Object:  Table [dbo].[QuitChallengeTemplate]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuitChallengeTemplate]') AND type in (N'U'))
DROP TABLE [dbo].[QuitChallengeTemplate]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Questions]') AND type in (N'U'))
DROP TABLE [dbo].[Questions]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payment]') AND type in (N'U'))
DROP TABLE [dbo].[Payment]
GO
/****** Object:  Table [dbo].[PackageMilestone]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PackageMilestone]') AND type in (N'U'))
DROP TABLE [dbo].[PackageMilestone]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notification]') AND type in (N'U'))
DROP TABLE [dbo].[Notification]
GO
/****** Object:  Table [dbo].[MilestoneGroup]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MilestoneGroup]') AND type in (N'U'))
DROP TABLE [dbo].[MilestoneGroup]
GO
/****** Object:  Table [dbo].[Milestone]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Milestone]') AND type in (N'U'))
DROP TABLE [dbo].[Milestone]
GO
/****** Object:  Table [dbo].[MembershipPackage]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MembershipPackage]') AND type in (N'U'))
DROP TABLE [dbo].[MembershipPackage]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Feedback]') AND type in (N'U'))
DROP TABLE [dbo].[Feedback]
GO
/****** Object:  Table [dbo].[ConsultationBooking]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConsultationBooking]') AND type in (N'U'))
DROP TABLE [dbo].[ConsultationBooking]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Blog]') AND type in (N'U'))
DROP TABLE [dbo].[Blog]
GO
/****** Object:  Table [dbo].[AnswerOptions]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AnswerOptions]') AND type in (N'U'))
DROP TABLE [dbo].[AnswerOptions]
GO
/****** Object:  Table [dbo].[Achievement]    Script Date: 27/06/2025 6:49:46 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Achievement]') AND type in (N'U'))
DROP TABLE [dbo].[Achievement]
GO
USE [master]
GO
/****** Object:  Database [SMOKING2]    Script Date: 27/06/2025 6:49:46 PM ******/
DROP DATABASE [SMOKING2]
GO
/****** Object:  Database [SMOKING2]    Script Date: 27/06/2025 6:49:46 PM ******/
CREATE DATABASE [SMOKING2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SMOKING2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SMOKING2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SMOKING2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SMOKING2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SMOKING2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SMOKING2]
GO
/****** Object:  Table [dbo].[Achievement]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievement](
	[AchievementID] [int] IDENTITY(1,1) NOT NULL,
	[AchievementName] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Criteria] [nvarchar](max) NULL,
	[BadgeImage] [nvarchar](max) NULL,
	[PackageType] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AchievementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnswerOptions]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerOptions](
	[AnswerOptionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[AnswerText] [nvarchar](max) NOT NULL,
	[DisplayOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[AuthorId] [int] NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[Likes] [int] NOT NULL,
	[Dislikes] [int] NOT NULL,
	[BlogType] [nvarchar](100) NULL,
	[ReportCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsultationBooking]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsultationBooking](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CoachID] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[Duration] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[MeetingLink] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CoachNotes] [nvarchar](max) NULL,
	[PreferredLanguage] [nvarchar](50) NULL,
	[ReminderSent] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FeedbackContent] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[FeedbackDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipPackage]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipPackage](
	[PackageID] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](100) NULL,
	[PackageType] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[Duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Milestone]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Milestone](
	[MilestoneID] [int] IDENTITY(1,1) NOT NULL,
	[MilestoneGroupID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[MilestoneTime] [int] NOT NULL,
	[TimeUnit] [nvarchar](10) NOT NULL,
	[Percent] [int] NOT NULL,
	[IsPremium] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MilestoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MilestoneGroup]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MilestoneGroup](
	[MilestoneGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MilestoneGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[NotificationDate] [datetime] NOT NULL,
	[NotificationType] [nvarchar](100) NOT NULL,
	[SentAt] [datetime] NOT NULL,
	[NotificationName] [nvarchar](255) NOT NULL,
	[Condition] [nvarchar](255) NOT NULL,
	[NotificationFor] [nvarchar](255) NOT NULL,
	[CreatedBy] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PackageMilestone]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageMilestone](
	[PackageMilestoneID] [int] IDENTITY(1,1) NOT NULL,
	[PackageID] [int] NOT NULL,
	[MilestoneID] [int] NOT NULL,
	[DetailDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PackageMilestoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[UserMembershipID] [int] NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime] NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TransactionReference] [nvarchar](255) NULL,
	[UserID] [int] NOT NULL,
	[PackageID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[QuestionType] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuitChallengeTemplate]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuitChallengeTemplate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[NotesSuggestion] [nvarchar](max) NULL,
	[DayOffset] [int] NOT NULL,
	[Stage] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuitPlan]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuitPlan](
	[QuitPlanID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CigarettesPerDayAtStart] [int] NOT NULL,
	[PricePerPackAtStart] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Reason] [nvarchar](max) NULL,
	[PlanDetails] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CigarettesPerPack] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuitPlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuitPlanSelectedAnswers]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuitPlanSelectedAnswers](
	[SelectedAnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuitPlanID] [int] NOT NULL,
	[AnswerOptionID] [int] NOT NULL,
	[CustomAnswerText] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SelectedAnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuitProgress]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuitProgress](
	[ProgressID] [int] IDENTITY(1,1) NOT NULL,
	[QuitPlanID] [int] NOT NULL,
	[ProgressDate] [date] NOT NULL,
	[CigarettesPerDayBaseline] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LastSmokeDate] [datetime] NULL,
	[MoneySaved] [decimal](18, 2) NOT NULL,
	[CigarettesSmokedToday] [int] NULL,
	[CigarettesDropped] [int] NULL,
	[TotalCigarettesDropped] [int] NULL,
	[TotalMoneySaved] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[RoleID] [int] NULL,
	[RegistrationDate] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Gender] [varchar](10) NULL,
	[DateOfBirth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAchievement]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAchievement](
	[UserAchievementID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[AchievementID] [int] NOT NULL,
	[AwardedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAchievementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMembership]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMembership](
	[UserMembershipID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PackageID] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserMembershipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMilestoneProgress]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMilestoneProgress](
	[UserMilestoneID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MilestoneID] [int] NOT NULL,
	[AchievedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserMilestoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserQuitChallenge]    Script Date: 27/06/2025 6:49:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserQuitChallenge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[QuitPlanId] [int] NOT NULL,
	[ChallengeDate] [date] NOT NULL,
	[TemplateId] [int] NOT NULL,
	[IsCompleted] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[ScheduledDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Achievement] ON 

INSERT [dbo].[Achievement] ([AchievementID], [AchievementName], [Description], [Criteria], [BadgeImage], [PackageType]) VALUES (1, N'Chiến binh ngày đầu', N'Không hút thuốc trong 24 giờ đầu tiên', N'DaysSmokeFree >= 1', N'/badges/1day.png', N'Basic')
INSERT [dbo].[Achievement] ([AchievementID], [AchievementName], [Description], [Criteria], [BadgeImage], [PackageType]) VALUES (2, N'Nhà vô địch 1 tuần', N'Hoàn thành 7 ngày không hút thuốc', N'DaysSmokeFree >= 7', N'/badges/7days.png', N'Basic')
INSERT [dbo].[Achievement] ([AchievementID], [AchievementName], [Description], [Criteria], [BadgeImage], [PackageType]) VALUES (3, N'Nhà tiết kiệm 100K', N'Tiết kiệm được 100,000 VND', N'MoneySaved >= 100000', N'/badges/100k.png', N'Premium')
SET IDENTITY_INSERT [dbo].[Achievement] OFF
GO
SET IDENTITY_INSERT [dbo].[AnswerOptions] ON 

INSERT [dbo].[AnswerOptions] ([AnswerOptionID], [QuestionID], [AnswerText], [DisplayOrder]) VALUES (1, 1, N'Ngừng hút hoàn toàn', 1)
INSERT [dbo].[AnswerOptions] ([AnswerOptionID], [QuestionID], [AnswerText], [DisplayOrder]) VALUES (2, 1, N'Giảm số lượng hút mỗi ngày', 2)
INSERT [dbo].[AnswerOptions] ([AnswerOptionID], [QuestionID], [AnswerText], [DisplayOrder]) VALUES (3, 1, N'Tạm ngưng trong một thời gian', 3)
SET IDENTITY_INSERT [dbo].[AnswerOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([BlogId], [Title], [Content], [AuthorId], [CategoryName], [CreatedDate], [LastModifiedDate], [Status], [Likes], [Dislikes], [BlogType], [ReportCount]) VALUES (1, N'5 Mẹo Vượt Qua Cơn Thèm Thuốc Đầu Tiên', N'Nội dung chi tiết về 5 mẹo hữu ích để giúp bạn vượt qua những cơn thèm thuốc khó khăn nhất trong giai đoạn đầu. Hãy kiên trì, bạn sẽ làm được!', 2, N'Kinh nghiệm', CAST(N'2025-06-15T10:25:16.967' AS DateTime), CAST(N'2025-06-15T10:25:16.967' AS DateTime), N'Published', 0, 0, N'Chia sẻ kinh nghiệm', 0)
INSERT [dbo].[Blog] ([BlogId], [Title], [Content], [AuthorId], [CategoryName], [CreatedDate], [LastModifiedDate], [Status], [Likes], [Dislikes], [BlogType], [ReportCount]) VALUES (2, N'Chào mừng đến với Nền tảng Hỗ trợ Cai thuốc lá', N'Đây là bài viết chào mừng chính thức từ ban quản trị. Chúng tôi ở đây để hỗ trợ bạn trên hành trình đi đến một cuộc sống không khói thuốc.', 1, N'Thông báo', CAST(N'2025-06-15T10:25:16.967' AS DateTime), CAST(N'2025-06-15T10:25:16.967' AS DateTime), N'Published', 0, 0, N'Thông báo hệ thống', 0)
INSERT [dbo].[Blog] ([BlogId], [Title], [Content], [AuthorId], [CategoryName], [CreatedDate], [LastModifiedDate], [Status], [Likes], [Dislikes], [BlogType], [ReportCount]) VALUES (3, N'Tác hại của thuốc lá đối với hệ hô hấp (Bản nháp)', N'Bài viết đang trong quá trình soạn thảo, phân tích sâu về các tác động tiêu cực của thuốc lá lên phổi và hệ hô hấp.', 2, N'Kiến thức khoa học', CAST(N'2025-06-15T10:25:16.967' AS DateTime), CAST(N'2025-06-15T10:25:16.967' AS DateTime), N'Draft', 0, 0, N'Kiến thức', 0)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[ConsultationBooking] ON 

INSERT [dbo].[ConsultationBooking] ([BookingID], [UserID], [CoachID], [BookingDate], [Duration], [Status], [MeetingLink], [Notes], [CoachNotes], [PreferredLanguage], [ReminderSent], [CreatedDate]) VALUES (1, 3, 2, CAST(N'2025-06-17T10:25:16.977' AS DateTime), 30, N'Pending', NULL, N'Tôi cần tư vấn về cách đối phó với stress.', NULL, NULL, 0, CAST(N'2025-06-15T10:25:16.977' AS DateTime))
SET IDENTITY_INSERT [dbo].[ConsultationBooking] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipPackage] ON 

INSERT [dbo].[MembershipPackage] ([PackageID], [PackageName], [PackageType], [Description], [Price], [Duration]) VALUES (1, N'Gói Premium (1 tháng)', N'Premium', N'Đăng ký tư vấn trực tiếp với coach, Huy hiệu premium, Kế hoạch chi tiết, Có tất cả tính năng basic', CAST(129000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[MembershipPackage] ([PackageID], [PackageName], [PackageType], [Description], [Price], [Duration]) VALUES (2, N'Gói Premium (3 tháng)', N'Premium', N'Đăng ký tư vấn trực tiếp với coach, Huy hiệu premium, Kế hoạch chi tiết, Có tất cả tính năng basic', CAST(299000.00 AS Decimal(18, 2)), 3)
INSERT [dbo].[MembershipPackage] ([PackageID], [PackageName], [PackageType], [Description], [Price], [Duration]) VALUES (3, N'Gói Premium (12 tháng)', N'Premium', N'Đăng ký tư vấn trực tiếp với coach, Huy hiệu premium, Kế hoạch chi tiết, Có tất cả tính năng basic', CAST(899000.00 AS Decimal(18, 2)), 12)
SET IDENTITY_INSERT [dbo].[MembershipPackage] OFF
GO
SET IDENTITY_INSERT [dbo].[Milestone] ON 

INSERT [dbo].[Milestone] ([MilestoneID], [MilestoneGroupID], [Name], [Description], [MilestoneTime], [TimeUnit], [Percent], [IsPremium]) VALUES (48, 1, N'Khởi động', N'Chúc mừng bạn đã bắt đầu hành trình từ bỏ thuốc lá! 1 phút đầu tiên không hút thuốc có thể nhỏ nhoi, nhưng chính khoảnh khắc này là nền móng cho mọi thay đổi tích cực trong tương lai. Mỗi phút trôi qua bạn đang giúp cơ thể làm quen dần với trạng thái không còn nicotin, đồng thời tiếp thêm động lực tinh thần để vượt qua thử thách tiếp theo.', 1, N'phút', 0, 0)
INSERT [dbo].[Milestone] ([MilestoneID], [MilestoneGroupID], [Name], [Description], [MilestoneTime], [TimeUnit], [Percent], [IsPremium]) VALUES (49, 1, N'Bắt đầu chuyển biến', N'5 phút không hút thuốc – tưởng chừng ngắn ngủi nhưng đã đủ để cơ thể bạn bắt đầu nhận ra sự thay đổi. Đầu óc bạn sẽ dần tỉnh táo hơn, nhịp tim ổn định lại, các mạch máu bắt đầu thư giãn do không còn tác động của nicotin. Đây là tiền đề giúp bạn cảm nhận rõ sự khác biệt về mặt thể chất cũng như tinh thần chỉ sau một khoảng thời gian ngắn.', 5, N'phút', 0, 0)
INSERT [dbo].[Milestone] ([MilestoneID], [MilestoneGroupID], [Name], [Description], [MilestoneTime], [TimeUnit], [Percent], [IsPremium]) VALUES (50, 1, N'Nicotine', N'Chỉ sau một giờ đầu tiên không hút thuốc, nồng độ nicotin trong máu bạn bắt đầu giảm xuống rõ rệt. Cơ thể khởi động quá trình loại bỏ các chất độc hại, đồng thời hệ thần kinh cũng dần thích nghi với trạng thái không còn phụ thuộc vào thuốc lá. Bạn có thể cảm nhận một chút bồn chồn, nhưng hãy kiên trì – đây là dấu hiệu tích cực cho thấy cơ thể đang phục hồi.', 1, N'giờ', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[Milestone] OFF
GO
SET IDENTITY_INSERT [dbo].[MilestoneGroup] ON 

INSERT [dbo].[MilestoneGroup] ([MilestoneGroupID], [GroupName]) VALUES (1, N'Thể trạng')
INSERT [dbo].[MilestoneGroup] ([MilestoneGroupID], [GroupName]) VALUES (2, N'Sức khỏe')
INSERT [dbo].[MilestoneGroup] ([MilestoneGroupID], [GroupName]) VALUES (3, N'Sinh thái')
SET IDENTITY_INSERT [dbo].[MilestoneGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationID], [UserID], [Message], [NotificationDate], [NotificationType], [SentAt], [NotificationName], [Condition], [NotificationFor], [CreatedBy]) VALUES (1, 6, N'Chúc mừng bạn đã đạt được thành tựu "Chiến binh ngày đầu". Tiếp tục cố gắng nhé!', CAST(N'2025-06-15T14:43:37.670' AS DateTime), N'Achievement', CAST(N'2025-06-15T14:43:37.670' AS DateTime), N'Thành tựu mới', N'Đã gửi', N'Cá nhân', N'System')
INSERT [dbo].[Notification] ([NotificationID], [UserID], [Message], [NotificationDate], [NotificationType], [SentAt], [NotificationName], [Condition], [NotificationFor], [CreatedBy]) VALUES (2, 5, N'Chúc mừng bạn đã đạt được thành tựu "Chiến binh ngày đầu". Tiếp tục cố gắng nhé!', CAST(N'2025-06-15T14:43:51.063' AS DateTime), N'Achievement', CAST(N'2025-06-15T14:43:51.063' AS DateTime), N'Thành tựu mới', N'Đã gửi', N'Cá nhân', N'System')
INSERT [dbo].[Notification] ([NotificationID], [UserID], [Message], [NotificationDate], [NotificationType], [SentAt], [NotificationName], [Condition], [NotificationFor], [CreatedBy]) VALUES (3, 6, N'Bạn đã đạt thành tựu: Nhà tiết kiệm 100K. Tiếp tục cố gắng nhé!', CAST(N'2025-06-16T21:28:26.720' AS DateTime), N'Achievement', CAST(N'2025-06-16T21:28:26.720' AS DateTime), N'Thành tựu mới', N'Đã gửi', N'Cá nhân', N'System')
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [UserMembershipID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionReference], [UserID], [PackageID]) VALUES (1, 5, CAST(299000.00 AS Decimal(18, 2)), CAST(N'2025-06-19T10:35:51.397' AS DateTime), N'Momo', N'Pending', N'697f2c1d-d03a-451c-b3af-5d510bdb2702', 6, 3)
INSERT [dbo].[Payment] ([PaymentID], [UserMembershipID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionReference], [UserID], [PackageID]) VALUES (2, 5, CAST(299000.00 AS Decimal(18, 2)), CAST(N'2025-06-19T10:43:26.907' AS DateTime), N'Momo', N'Success', N'1897dc57-3922-41fe-9985-8ca92cc382e9', 6, 3)
INSERT [dbo].[Payment] ([PaymentID], [UserMembershipID], [Amount], [PaymentDate], [PaymentMethod], [Status], [TransactionReference], [UserID], [PackageID]) VALUES (3, 6, CAST(299000.00 AS Decimal(18, 2)), CAST(N'2025-06-19T10:44:37.300' AS DateTime), N'Momo', N'Success', N'08e71b3f-ca62-4fd7-b651-178aeff12188', 3, 3)
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [QuestionText], [QuestionType], [DisplayOrder], [IsActive]) VALUES (1, N'Bạn có mục tiêu cụ thể nào khi cai thuốc lá không?', N'SingleChoice', 1, 1)
INSERT [dbo].[Questions] ([QuestionID], [QuestionText], [QuestionType], [DisplayOrder], [IsActive]) VALUES (2, N'Đâu là lý do lớn nhất khiến bạn muốn cai thuốc lá?', N'SingleChoice', 2, 1)
INSERT [dbo].[Questions] ([QuestionID], [QuestionText], [QuestionType], [DisplayOrder], [IsActive]) VALUES (3, N'Bạn đã từng cố gắng cai thuốc lá trước đây chưa?', N'SingleChoice', 3, 1)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[QuitChallengeTemplate] ON 

INSERT [dbo].[QuitChallengeTemplate] ([Id], [Title], [Description], [NotesSuggestion], [DayOffset], [Stage]) VALUES (1, N'Ghi lại 3 tình huống gây thèm thuốc', N'Ghi lại ít nhất 3 tình huống bạn thường gắn liền với hút thuốc (như uống cà phê, căng thẳng, sau ăn…). Ghi vào giấy hoặc ghi chú trên điện thoại.', N'Nhận diện và lên kế hoạch tránh các tình huống gây thèm.', 0, 1)
INSERT [dbo].[QuitChallengeTemplate] ([Id], [Title], [Description], [NotesSuggestion], [DayOffset], [Stage]) VALUES (2, N'Thực hành thở 4-7-8', N'Khi thèm thuốc, dừng lại 3–5 phút để thực hiện kỹ thuật thở: hít vào 4s, giữ 7s, thở ra 8s. Lặp lại ít nhất 3 lần trong ngày.', N'Thở giúp kiểm soát cơn thèm và giảm stress.', 1, 1)
INSERT [dbo].[QuitChallengeTemplate] ([Id], [Title], [Description], [NotesSuggestion], [DayOffset], [Stage]) VALUES (3, N'Giữ tay và miệng bận rộn', N'Chuẩn bị sẵn kẹo cao su không đường, trái cây khô hoặc hạt. Khi muốn hút, nhai thay thế và ghi lại cảm giác sau đó.', N'Nhai đồ lành mạnh giúp phân tán sự chú ý.', 2, 1)
SET IDENTITY_INSERT [dbo].[QuitChallengeTemplate] OFF
GO
SET IDENTITY_INSERT [dbo].[QuitPlan] ON 

INSERT [dbo].[QuitPlan] ([QuitPlanID], [UserID], [CigarettesPerDayAtStart], [PricePerPackAtStart], [StartDate], [EndDate], [Reason], [PlanDetails], [Status], [CreatedDate], [CigarettesPerPack]) VALUES (6, 6, 30, CAST(100000.00 AS Decimal(18, 2)), CAST(N'2025-06-17T00:00:00.000' AS DateTime), NULL, N'Tự động lập kế hoạch', N'Sử dụng kẹo cao su thay thế khi thèm thuốc', N'Active', CAST(N'2025-06-17T19:18:26.517' AS DateTime), 20)
SET IDENTITY_INSERT [dbo].[QuitPlan] OFF
GO
SET IDENTITY_INSERT [dbo].[QuitPlanSelectedAnswers] ON 

INSERT [dbo].[QuitPlanSelectedAnswers] ([SelectedAnswerID], [QuitPlanID], [AnswerOptionID], [CustomAnswerText]) VALUES (0, 6, 2, NULL)
SET IDENTITY_INSERT [dbo].[QuitPlanSelectedAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[QuitProgress] ON 

INSERT [dbo].[QuitProgress] ([ProgressID], [QuitPlanID], [ProgressDate], [CigarettesPerDayBaseline], [Notes], [CreatedAt], [LastSmokeDate], [MoneySaved], [CigarettesSmokedToday], [CigarettesDropped], [TotalCigarettesDropped], [TotalMoneySaved]) VALUES (5, 6, CAST(N'2025-06-17' AS Date), 30, N'Đã cập nhật tiến trình', CAST(N'2025-06-17T19:18:26.690' AS DateTime), CAST(N'2025-06-17T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), 30, 0, 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[QuitProgress] ([ProgressID], [QuitPlanID], [ProgressDate], [CigarettesPerDayBaseline], [Notes], [CreatedAt], [LastSmokeDate], [MoneySaved], [CigarettesSmokedToday], [CigarettesDropped], [TotalCigarettesDropped], [TotalMoneySaved]) VALUES (6, 6, CAST(N'2025-06-18' AS Date), 30, N'Đã cập nhật tiến trình', CAST(N'2025-06-18T11:12:40.183' AS DateTime), CAST(N'2025-06-18T00:00:00.000' AS DateTime), CAST(50000.00 AS Decimal(18, 2)), 15, 15, 15, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[QuitProgress] ([ProgressID], [QuitPlanID], [ProgressDate], [CigarettesPerDayBaseline], [Notes], [CreatedAt], [LastSmokeDate], [MoneySaved], [CigarettesSmokedToday], [CigarettesDropped], [TotalCigarettesDropped], [TotalMoneySaved]) VALUES (10, 9, CAST(N'2025-06-19' AS Date), 20, N'Bắt đầu kế hoạch', CAST(N'2025-06-19T20:09:59.847' AS DateTime), CAST(N'2025-06-19T00:00:00.000' AS DateTime), CAST(0.00 AS Decimal(18, 2)), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[QuitProgress] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (2, N'Member', N'Thành viên đang cai thuốc')
INSERT [dbo].[Role] ([RoleID], [RoleName], [Description]) VALUES (3, N'Coach', N'Huấn luyện viên cai thuốc')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [PhoneNumber], [RoleID], [RegistrationDate], [Status], [ProfilePicture], [Description], [Gender], [DateOfBirth]) VALUES (1, N'Trần Quản Trị', N'admin@example.com', N'111', N'0901112222', 2, CAST(N'2025-06-15T10:25:16.897' AS DateTime), N'Active', NULL, N'Quản trị hệ thống chính', N'Male', CAST(N'1985-05-15' AS Date))
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [PhoneNumber], [RoleID], [RegistrationDate], [Status], [ProfilePicture], [Description], [Gender], [DateOfBirth]) VALUES (2, N'Lê Huấn Luyện', N'coach@example.com', N'111', N'0903334444', 2, CAST(N'2025-06-15T10:25:16.897' AS DateTime), N'Active', NULL, N'Huấn luyện viên chính, hỗ trợ tư vấn cai thuốc', N'Male', CAST(N'1990-07-10' AS Date))
INSERT [dbo].[User] ([UserID], [FullName], [Email], [Password], [PhoneNumber], [RoleID], [RegistrationDate], [Status], [ProfilePicture], [Description], [Gender], [DateOfBirth]) VALUES (3, N'Lê Thị Trà Mi', N'mi@gmail.com', N'111', N'0905556666', 2, CAST(N'2025-06-15T10:25:16.897' AS DateTime), N'Active', NULL, N'Thành viên mới bắt đầu hành trình cai thuốc', N'Female', CAST(N'1995-03-25' AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAchievement] ON 

INSERT [dbo].[UserAchievement] ([UserAchievementID], [UserID], [AchievementID], [AwardedDate]) VALUES (1, 6, 1, CAST(N'2025-06-15T14:43:37.593' AS DateTime))
INSERT [dbo].[UserAchievement] ([UserAchievementID], [UserID], [AchievementID], [AwardedDate]) VALUES (2, 5, 1, CAST(N'2025-06-15T14:43:51.060' AS DateTime))
INSERT [dbo].[UserAchievement] ([UserAchievementID], [UserID], [AchievementID], [AwardedDate]) VALUES (3, 6, 3, CAST(N'2025-06-16T21:28:26.670' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAchievement] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMembership] ON 

INSERT [dbo].[UserMembership] ([UserMembershipID], [UserID], [PackageID], [StartDate], [EndDate], [PaymentStatus]) VALUES (5, 6, 3, CAST(N'2025-06-19T10:43:26.593' AS DateTime), CAST(N'2025-09-19T10:43:26.593' AS DateTime), N'Completed')
INSERT [dbo].[UserMembership] ([UserMembershipID], [UserID], [PackageID], [StartDate], [EndDate], [PaymentStatus]) VALUES (6, 3, 3, CAST(N'2025-06-19T10:44:37.217' AS DateTime), CAST(N'2025-09-19T10:44:37.217' AS DateTime), N'Completed')
INSERT [dbo].[UserMembership] ([UserMembershipID], [UserID], [PackageID], [StartDate], [EndDate], [PaymentStatus]) VALUES (7, 1, 2, CAST(N'2025-06-19T19:16:47.427' AS DateTime), CAST(N'2025-07-19T19:16:47.427' AS DateTime), N'AdminAssigned')
SET IDENTITY_INSERT [dbo].[UserMembership] OFF
GO
SET IDENTITY_INSERT [dbo].[UserQuitChallenge] ON 

INSERT [dbo].[UserQuitChallenge] ([Id], [UserId], [QuitPlanId], [ChallengeDate], [TemplateId], [IsCompleted], [Notes], [ScheduledDate]) VALUES (1, 12, 12, CAST(N'2025-06-27' AS Date), 1, 1, N'Tôi đã hoàn thành rồi', CAST(N'2025-06-27T10:31:30.630' AS DateTime))
INSERT [dbo].[UserQuitChallenge] ([Id], [UserId], [QuitPlanId], [ChallengeDate], [TemplateId], [IsCompleted], [Notes], [ScheduledDate]) VALUES (2, 12, 12, CAST(N'2025-06-28' AS Date), 2, 0, NULL, CAST(N'2025-06-27T10:31:30.630' AS DateTime))
INSERT [dbo].[UserQuitChallenge] ([Id], [UserId], [QuitPlanId], [ChallengeDate], [TemplateId], [IsCompleted], [Notes], [ScheduledDate]) VALUES (3, 12, 12, CAST(N'2025-06-29' AS Date), 3, 0, NULL, CAST(N'2025-06-27T10:31:30.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserQuitChallenge] OFF
GO
/****** Object:  Index [IX_Payment_PackageID]    Script Date: 27/06/2025 6:49:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_PackageID] ON [dbo].[Payment]
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_UserID]    Script Date: 27/06/2025 6:49:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_UserID] ON [dbo].[Payment]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_QuitProgress_PlanDate]    Script Date: 27/06/2025 6:49:47 PM ******/
ALTER TABLE [dbo].[QuitProgress] ADD  CONSTRAINT [UQ_QuitProgress_PlanDate] UNIQUE NONCLUSTERED 
(
	[QuitPlanID] ASC,
	[ProgressDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__8A2B6160C28CA606]    Script Date: 27/06/2025 6:49:47 PM ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D105346DBCDDCE]    Script Date: 27/06/2025 6:49:47 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT (getdate()) FOR [LastModifiedDate]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ((0)) FOR [Likes]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ((0)) FOR [Dislikes]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ((0)) FOR [ReportCount]
GO
ALTER TABLE [dbo].[ConsultationBooking] ADD  DEFAULT ((0)) FOR [ReminderSent]
GO
ALTER TABLE [dbo].[ConsultationBooking] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [FeedbackDate]
GO
ALTER TABLE [dbo].[Milestone] ADD  DEFAULT ((0)) FOR [IsPremium]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('Default Notification') FOR [NotificationName]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('Pending') FOR [Condition]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('All Users') FOR [NotificationFor]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ('System') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[QuitChallengeTemplate] ADD  DEFAULT ((1)) FOR [Stage]
GO
ALTER TABLE [dbo].[QuitPlan] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[QuitPlan] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[QuitProgress] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QuitProgress] ADD  DEFAULT ((0)) FOR [MoneySaved]
GO
ALTER TABLE [dbo].[QuitProgress] ADD  DEFAULT ((0)) FOR [TotalCigarettesDropped]
GO
ALTER TABLE [dbo].[QuitProgress] ADD  DEFAULT ((0)) FOR [TotalMoneySaved]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[UserAchievement] ADD  DEFAULT (getdate()) FOR [AwardedDate]
GO
ALTER TABLE [dbo].[UserQuitChallenge] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[UserQuitChallenge] ADD  DEFAULT (getdate()) FOR [ScheduledDate]
GO
ALTER TABLE [dbo].[AnswerOptions]  WITH CHECK ADD  CONSTRAINT [FK_AnswerOptions_Questions] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[AnswerOptions] CHECK CONSTRAINT [FK_AnswerOptions_Questions]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_User] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_User]
GO
ALTER TABLE [dbo].[ConsultationBooking]  WITH CHECK ADD  CONSTRAINT [FK_ConsultationBooking_Coach] FOREIGN KEY([CoachID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ConsultationBooking] CHECK CONSTRAINT [FK_ConsultationBooking_Coach]
GO
ALTER TABLE [dbo].[ConsultationBooking]  WITH CHECK ADD  CONSTRAINT [FK_ConsultationBooking_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ConsultationBooking] CHECK CONSTRAINT [FK_ConsultationBooking_User]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[Milestone]  WITH CHECK ADD  CONSTRAINT [FK_Milestone_MilestoneGroup] FOREIGN KEY([MilestoneGroupID])
REFERENCES [dbo].[MilestoneGroup] ([MilestoneGroupID])
GO
ALTER TABLE [dbo].[Milestone] CHECK CONSTRAINT [FK_Milestone_MilestoneGroup]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[PackageMilestone]  WITH CHECK ADD  CONSTRAINT [FK_PackageMilestone_Milestone] FOREIGN KEY([MilestoneID])
REFERENCES [dbo].[Milestone] ([MilestoneID])
GO
ALTER TABLE [dbo].[PackageMilestone] CHECK CONSTRAINT [FK_PackageMilestone_Milestone]
GO
ALTER TABLE [dbo].[PackageMilestone]  WITH CHECK ADD  CONSTRAINT [FK_PackageMilestone_Package] FOREIGN KEY([PackageID])
REFERENCES [dbo].[MembershipPackage] ([PackageID])
GO
ALTER TABLE [dbo].[PackageMilestone] CHECK CONSTRAINT [FK_PackageMilestone_Package]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Package] FOREIGN KEY([PackageID])
REFERENCES [dbo].[MembershipPackage] ([PackageID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Package]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_User]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_UserMembership] FOREIGN KEY([UserMembershipID])
REFERENCES [dbo].[UserMembership] ([UserMembershipID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_UserMembership]
GO
ALTER TABLE [dbo].[QuitPlan]  WITH CHECK ADD  CONSTRAINT [FK_QuitPlan_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[QuitPlan] CHECK CONSTRAINT [FK_QuitPlan_User]
GO
ALTER TABLE [dbo].[QuitPlanSelectedAnswers]  WITH CHECK ADD  CONSTRAINT [FK_QuitPlanSelectedAnswers_AnswerOptions] FOREIGN KEY([AnswerOptionID])
REFERENCES [dbo].[AnswerOptions] ([AnswerOptionID])
GO
ALTER TABLE [dbo].[QuitPlanSelectedAnswers] CHECK CONSTRAINT [FK_QuitPlanSelectedAnswers_AnswerOptions]
GO
ALTER TABLE [dbo].[QuitPlanSelectedAnswers]  WITH CHECK ADD  CONSTRAINT [FK_QuitPlanSelectedAnswers_QuitPlan] FOREIGN KEY([QuitPlanID])
REFERENCES [dbo].[QuitPlan] ([QuitPlanID])
GO
ALTER TABLE [dbo].[QuitPlanSelectedAnswers] CHECK CONSTRAINT [FK_QuitPlanSelectedAnswers_QuitPlan]
GO
ALTER TABLE [dbo].[QuitProgress]  WITH CHECK ADD  CONSTRAINT [FK_QuitProgress_QuitPlan] FOREIGN KEY([QuitPlanID])
REFERENCES [dbo].[QuitPlan] ([QuitPlanID])
GO
ALTER TABLE [dbo].[QuitProgress] CHECK CONSTRAINT [FK_QuitProgress_QuitPlan]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserAchievement]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievement_Achievement] FOREIGN KEY([AchievementID])
REFERENCES [dbo].[Achievement] ([AchievementID])
GO
ALTER TABLE [dbo].[UserAchievement] CHECK CONSTRAINT [FK_UserAchievement_Achievement]
GO
ALTER TABLE [dbo].[UserAchievement]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievement_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserAchievement] CHECK CONSTRAINT [FK_UserAchievement_User]
GO
ALTER TABLE [dbo].[UserMembership]  WITH CHECK ADD  CONSTRAINT [FK_UserMembership_Package] FOREIGN KEY([PackageID])
REFERENCES [dbo].[MembershipPackage] ([PackageID])
GO
ALTER TABLE [dbo].[UserMembership] CHECK CONSTRAINT [FK_UserMembership_Package]
GO
ALTER TABLE [dbo].[UserMembership]  WITH CHECK ADD  CONSTRAINT [FK_UserMembership_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserMembership] CHECK CONSTRAINT [FK_UserMembership_User]
GO
ALTER TABLE [dbo].[UserMilestoneProgress]  WITH CHECK ADD  CONSTRAINT [FK_UserMilestoneProgress_Milestone] FOREIGN KEY([MilestoneID])
REFERENCES [dbo].[Milestone] ([MilestoneID])
GO
ALTER TABLE [dbo].[UserMilestoneProgress] CHECK CONSTRAINT [FK_UserMilestoneProgress_Milestone]
GO
ALTER TABLE [dbo].[UserMilestoneProgress]  WITH CHECK ADD  CONSTRAINT [FK_UserMilestoneProgress_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserMilestoneProgress] CHECK CONSTRAINT [FK_UserMilestoneProgress_User]
GO
ALTER TABLE [dbo].[UserQuitChallenge]  WITH CHECK ADD FOREIGN KEY([QuitPlanId])
REFERENCES [dbo].[QuitPlan] ([QuitPlanID])
GO
ALTER TABLE [dbo].[UserQuitChallenge]  WITH CHECK ADD FOREIGN KEY([TemplateId])
REFERENCES [dbo].[QuitChallengeTemplate] ([Id])
GO
USE [master]
GO
